<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='create-activity.css')}}">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="{{url_for('static', filename='create-acitvity.js')}}"></script>
    <title>Vytvořit novou aktivitu</title>
</head>
<body>
    <div class="navbar">
        <a href="/"><img class="logo" src="{{url_for('static', filename='logo.svg')}}" alt="logo"></a>
    </div>

    <h1>FORMULÁŘ NEFUNGUJE, FUNKČNÍ JE POUZE API</h1>

    <h2 style="text-decoration: underline; font-size: 30px;">Nová aktivita:</h2>

    <form id="myForm">
        <div class="form-group">
            <label for="activityName">Název aktivity:</label>
            <input type="text" id="activityName" name="activityName" required>
        </div>

        <hr style="opacity: 0;">

        <div class="form-group">
            <label for="description">Popis aktivity:</label>
            <textarea id="description" name="description"></textarea>
        </div>

        <hr style="opacity: 0;">

        <div class="form-group">
            <label for="objectives">Cíle:</label>
            <textarea id="objectives" name="objectives" required></textarea>
        </div>

        <hr style="opacity: 0;">

        <div class="form-group">
            <label for="classStructure">Typ aktivity:</label>
            <input type="checkbox" name="classStructure" value="Individual" id="individual">
            <label for="individual">Samostatná</label>

            <input type="checkbox" name="classStructure" value="Group" id="group">
            <label for="group">Skupinová</label>

            <input type="checkbox" name="classStructure" value="All" id="both">
            <label for="both">Obojí</label>
        </div>

        <hr style="opacity: 0;">

        <div class="form-group">
            <label for="lengthMin">Minimální délka (minuty):</label>
            <input type="number" id="lengthMin" name="lengthMin" placeholder="Např. 30" required>
        </div>

        <hr style="opacity: 0;">

        <div class="form-group">
            <label for="lengthMax">Maximální délka (minuty):</label>
            <input type="number" id="lengthMax" name="lengthMax" placeholder="Např. 60" required>
        </div>

        <hr style="opacity: 0;">

        <div class="form-group">
            <label for="edLevel">Úroveň obtížnosti:</label>

            <input type="checkbox" name="edLevel" value="primarySchool" id="primarySchool">
            <label for="primarySchool">1. stupeň základní školy</label>

            <input type="checkbox" name="edLevel" value="secondarySchool" id="secondarySchool">
            <label for="secondarySchool">2. stupeň základní školy</label>

            <input type="checkbox" name="edLevel" value="highSchool" id="highSchool">
            <label for="highSchool">Střední škola</label>
        </div>

        <hr style="opacity: 0;">

        <div class="form-group">
            <label for="tools">Nástroje:</label>
            <textarea id="tools" name="tools" placeholder="Notebook, Plyšáček, Energie v láhvi, ..."></textarea>
        </div>

        <hr style="opacity: 0;">

        <label for="homePreparation">Příprava(y) doma:</label>
        <div class="form-group" style="border: 1px solid black; padding: 10px; margin: 5px;">
            <label for="homePreparationTitle">Hlavní:</label>
            <textarea id="homePreparationTitle" name="homePreparationTitle"></textarea>

            <hr style="opacity: 0;">

            <label for="homePreparationWarn">Varování:</label>
            <textarea id="homePreparationWarn" name="homePreparationWarn"></textarea>

            <hr style="opacity: 0;">

            <label for="homePreparationNote">Poznámka:</label>
            <textarea id="homePreparationNote" name="homePreparationNote"></textarea>
        </div>
        
        <hr style="opacity: 0;">

        <label for="instructions">Instrukce:</label>
        <div class="form-group" style="border: 1px solid black; padding: 10px; margin: 5px;">
            <label for="instructionsTitle">Hlavní:</label>
            <textarea id="instructionsTitle" name="instructionsTitle" required></textarea>

            <hr style="opacity: 0;">

            <label for="instructionsWarn">Varování:</label>
            <textarea id="instructionsWarn" name="instructionsWarn"></textarea>

            <hr style="opacity: 0;">

            <label for="instructionsNote">Poznámka:</label>
            <textarea id="instructionsNote" name="instructionsNote"></textarea>
        </div>

        <br>

        <label for="agenda">Agenda(y):</label>
        <div class="form-group" style="border: 1px solid black; padding: 10px; margin: 5px;">
            <label for="agendaDuration">Doba trvání (minuty):</label>
            <input type="number" id="agendaDuration" name="agendaDuration"></textarea>
        
            <hr style="opacity: 0;">
        
            <label for="agendaTitle">Nadpis:</label>
            <textarea id="agendaTitle" name="agendaTitle"></textarea>
        
            <hr style="opacity: 0;">
        
            <label for="agendaDescription">Popis:</label>
            <textarea id="agendaDescription" name="agendaDescription"></textarea>
        </div>

        <br>

        <div class="form-group">
            <label for="links">Odkazy:</label>
            <textarea id="links" name="links" placeholder="Odkazy oddělte novým řádkem"></textarea>
        </div>
        <div class="form-group">
            <label for="gallery">Galerie:</label>
            <textarea id="gallery" name="gallery" placeholder="Odkazy oddělte novým řádkem"></textarea>
        </div>
        <input type="submit" value="Odeslat">
    </form>

</body>
</html>