<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <title>Amos - aktivity</title>

    <script>
        function AiSearchActivities() {
            var searchField = document.getElementById("searchField");
            var searchText = searchField.value.trim();

            if (searchText === ""){
                return;
            }

            var searchButton = document.getElementById("searchButton");
            searchButton.style.display = "none";  // Hide the button
        
            fetch('/api/search_ai', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                    body: JSON.stringify({ prompt: searchText }),
                })
                .then(response => response.json())
                .then(data => {
                    var uuids = data.uuids;
                    var query = "?last_search=" + encodeURIComponent(searchText) + "&";

                    if (uuids.length){
                        query += "no_results=true"
                    }

                    for (var i = 0; i < uuids.length; i++) {
                        var uuid = uuids[i];
                        query += "uuid=" + uuid + "&";
                    }
                    
                    window.location.href = "/" + query;  // Redirect to the new URL
                })
                .catch((error) => {
                    console.error('Error:', error);        
            });

            searchButton.addEventListener('click', AiSearchActivities);


            }
    </script>
</head>

<body>

    <div class="navbar">

        <a href="/"><img class="logo" src="{{url_for('static', filename='logo.svg')}}" alt="logo"></a>

        <a style="float: right; min-height: 40px; min-width: 75px;" href="/login">
            <div style="background-color: burlywood;">
                <p style="text-align: center;">Login</p>
            </div>
        </a>

        <a style="float: right; min-height: 40px; min-width: 75px; margin-right: 10px;" href="/tvorba-aktivity">
            <div style="background-color: burlywood;">
                <p style="text-align: center;">Přidat aktivitu</p>
            </div>
        </a>
    </div>

    <div style="display: flex; justify-content: center; margin: 20px 0;">
        <input id="searchField" type="text" value="{{last_search}}" placeholder="Zadejte klíčová slova..." style="width: 50%; padding: 10px;">
        <button id="searchButton" onclick="AiSearchActivities()">Hledat</button>
    </div>

    <div style="padding: 15px;">
        {% for activity, ai_description in activities_and_descriptions %}
            <a href="/aktivita/{{activity.uuid}}">
                <h2>{{activity.activityName}}</h2>
            </a>
            <p>{{ai_description.summary}}</p>
            <hr>
            <br>
        {% endfor %}
        
    </div>
</body>
</html>